* {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*#1F272A HEADER EN FOOTER BACKGROUND   #C19250 HOVER   #CCCCCC LETTERTYPE OP HEADER EN FOOTER  #534F4F BORDER BOTOM COLOR  #000000 LETTERTYPE*/

body {
    background-color: #FFFFFF;
}

header,
footer {
    background-color: #1F272A;
    text-align: center;
    color: #CCCCCC;
}

main {
    width: 80%;
    margin: 0 auto;
    align-content: center;
}

aside {
    width: 50%;
    float: right;
    padding: 50px;
}

aside ul li {
    border: 2px dotted #534F4F;
    list-style-type: none;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
}

aside ul li:hover {
    background-color: #C19250;
}

article {
    width: 50%;
    padding: 50px;
}

article p {
    text-align: left;
    padding: 5px 0px;
}

article h1 {
    text-align: left;
    padding: 10px 0px;
}

footer a {
    display: flex;
    color: #CCCCCC;
    justify-content: center;
    flex-direction: row;
}

.ingredient {
    border: 3px solid #000000;
}

.ingredient h1 {
    clear: left;
    padding: 10px;
}

.ingredient h1,
p {
    text-align: center;
}

.ingredient ul {
    margin: 20px;
}

.ingredient ul li {
    float: left;
    list-style-type: none;
    border-bottom: 1px dotted #534F4F;
    width: 50%;
    padding: 20px;
}

article ol li {
    border-bottom: 2px dotted #534F4F;
    padding: 10px;
}

article ol li a {
    color: #000000;
}

@media screen and (max-width:1500px) {
    .ingredient ul li {
        float: left;
        list-style-type: none;
        border-bottom: 1px dotted #534F4F;
        width: 100%;
        padding: 20px;
    }
}

@media screen and (max-width:1200px) {
    .ingredient ul li {
        float: left;
        list-style-type: none;
        border-bottom: 1px dotted #534F4F;
        width: 100%;
        padding: 20px;
    }
    main {
        width: 100%;
        margin: 0 auto;
        align-content: center;
    }
}

@media screen and (max-width:960px) {
    .ingredient ul li {
        float: left;
        list-style-type: none;
        border-bottom: 1px dotted #534F4F;
        width: 100%;
        padding: 20px;
    }
    main {
        width: 100%;
        margin: 0 auto;
        align-content: center;
    }
    aside {
        float: none;
    }
    main aside h1,
    main aside ul {
        display: none;
    }
    article {
        width: 100%;
        padding: 50px;
    }
}